{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import"
  ],
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-space-before-closing": [0],
    "react/jsx-sort-props": [2],
    "react/prop-types": [0],

    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",

    "arrow-parens": ["error", "always"],
    "class-methods-use-this": [0],
    "comma-dangle": ["error", "never"],
    "default-case": [0],
    "function-paren-newline": [0],
    "jsx-a11y/media-has-caption": [0],
    "max-len": ["error", {
      "code": 120,
      "ignoreComments": true
    }],
    "no-use-before-define": [0, {}],
    "object-curly-newline": ["error", {
      "ObjectExpression": { "consistent": true, "minProperties": 4 },
      "ObjectPattern": { "consistent": true, "minProperties": 6 },
      "ImportDeclaration": { "consistent": true, "minProperties": 4 },
      "ExportDeclaration": "always"
    }],
    "prefer-promise-reject-errors": [0],
    "sort-keys": [2],
    "space-before-function-paren": [2, "never"]
  }
}
